/* universal styling */
@font-face {
   font-family: leagueGothicRegular;
   src: url(Fonts/LeagueGothic-Regular.otf);
}
@font-face {
	font-family: futurePTHeavy;
	src: url(Fonts/Futura_PT_Heavy.otf);
}
body {
	margin: 0px;
}
img {
	max-width: 100%;
}
.wrapper {
	display: flex;
	flex-wrap: wrap;
}
.row-left,
.row-right {
	width: 50%;
}
/* search bar & contact bar */
input {
    width: 200px;
    box-sizing: border-box;
    border-radius: 30px;
    border: none;
    font-size: 11px;
    background-color: white;
    padding: 8px 10px 8px 10px;
}
li {
	font-family: futurePTHeavy;
	letter-spacing: 3px;
	font-size: 9px;
}
p {
	font-family: futurePTHeavy;
	letter-spacing: 3px;
	font-size: 15px;
}
.search-box {
	font-family: futurePTHeavy;
	letter-spacing: 3px;
	font-size: 10px;
}

/* class-specific styling */
#btn-apply-now,
#btn-learn-more-bottom-of-page,
#btn-follow-us {
	border-radius: 0px;
	border: none;
	background-color: darkred;
	color: white;
	font-family: futurePTHeavy;
	letter-spacing: 5px;
	font-size: 11px;
	padding: 10px 15px 10px 15px;
	margin-right: 200px;
	text-transform: uppercase;
}
#btn-learn-more-top-of-page {
	border-radius: 0px;
	border: 1px solid white;
	background-color: transparent;
	font-family: futurePTHeavy;
	letter-spacing: 5px;
	font-size: 11px;
	padding: 10px 15px 10px 15px;
	margin-right: 200px;
	text-transform: uppercase;
}
.group-below-mainstage-feature-image {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2.5%;
	padding-top: 2%;
}
.flex-container-franchising,
.flex-container-pillars {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.flex-container-franchising div {
	width: 33.333%;
}
.flex-container-pillars div {
	width: 25%;

}

.flex-container-franchising div img,
.flex-container-pillars div img {
	width: 100%;
}
.flex-container-franchising img {
	margin: 10px;
}
.mainstage-feature-image {
	width: 100%;
	z-index: -1;
}
.nav-bar-menu,
.footer-menu {
	font-size: .75em;
}
.nav-bar-menu a,
.footer-menu a {
	color: white;
	text-decoration: none;
}
.nav-bar-menu a:link,
.nav-bar-menu a:visited,
.footer-menu a:link,
.footer-menu a:visited {
	text-decoration: none;
}
.nav-bar-menu a:hover,
.nav-bar-menu a:active,
.footer-menu a:hover,
.footer-menu a:active {
	text-decoration: underline;
}
.nav-bar-menu li,
.footer-menu li {
	display: inline;
	padding: 2em;
}
.one-leg-up {
	margin-left: 150px;
	margin-top: -210px;
	max-width: 25em;
	position: relative;
}
.page-header {
	background-color: darkred;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
}
.page-header logo-header {
	display: flex;
	align-items: center;
}
.page-header img {
	width: 250px;
	/*padding-left: 50px;
	padding-top: 25px;*/	
}
.text-become-an-instructor {
	color: grey;
}
.text-cyclebar-franchising,
.text-cyclebar-social-media {
	color: darkred;
	text-transform: uppercase;
}
.text-cyclebar-franchising-line1,
.text-cyclebar-franchising-line2,
.text-cyclebar-social-media-line1,
.text-cyclebar-social-media-line2,
.text-cyclebar-social-media-line3 {
	color: grey;
	font-size: 10px;
	font-family: 'Questrial', sans-serif;
	font-weight: bold;
}
.text-cyclebar-franchising,
.text-cyclebar-franchising-line1,
.text-cyclebar-franchising-line2,
.text-cyclebar-social-media,
.text-cyclebar-social-media-line1,
.text-cyclebar-social-media-line2,
.text-cyclebar-social-media-line3 {
	text-align: center;
}
.text-join-the-party {
	color: darkred;
}
.text-overlay-mainstage-feature-image {
	text-transform: uppercase;
	position: absolute;
	left: 10%;
	top: 30%;
	color: white;
	text-align: center;
}
.text-rock-your-ride {
	font-size: 6.5em;
	letter-spacing: -0.5px;
	font-family: leagueGothicRegular;
	margin-bottom: 0;
}
.text-welcome-to-cyclebar {
	font-family: futurePTHeavy;
	font-size: .65em;
	margin-top: -2em;
}

/* pillars */

/*#img-cyclegiving {
	position: relative;
	z-index: -1;
}
#logo-cyclegiving {
	position: absolute;
	left: 50%;
	top: 50%;
}*/


.img-cyclebeats,
.img-cyclestar,
.img-cyclestats,
.img-cycletheater {
	position: absolute;
	z-index: -1;
}
.logo-cyclebeats,
.logo-cyclestar,
.logo-cyclestats,
.logo-cycletheater {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* footer */
.contact-us {
	font-family: futurePTHeavy;
	letter-spacing: 3px;
	font-size: 10px;
}
footer {
	background-color: darkred;
	height: 200px;
}
.footer-inline {
	padding-top: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logo-footer {
	max-width: 5em;
}

/* media queries */
@media only screen and (max-width: 480px) {
	.nav-bar-menu,
	.search-box {
		display: none;
	}
	.wrapper {
		display: flex;
		flex-wrap: nowrap;
	}
}


