@font-face {
   font-family: leagueGothicRegular;
   src: url(Fonts/LeagueGothic-Regular.otf);
}
@font-face {
	font-family: futurePTHeavy;
	src: url(Fonts/Futura_PT_Heavy.otf);
}

li {
	font-family: 'Questrial', sans-serif;
}

body {
	margin: 0px;
}

/* header */
.nav-bar-menu {
	font-size: .75em;
}
.nav-bar-menu a {
	color: white;
	text-decoration: none;
}
.nav-bar-menu a:link,
.nav-bar-menu a:visited {
	text-decoration: none;
}
.nav-bar-menu a:hover,
.nav-bar-menu a:active {
	text-decoration: underline;
}
.nav-bar-menu li {
	display: inline;
	padding: 2em;
}
.page-header {
	background-color: darkred;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}
.page-header img {
	max-width: 250px;
	padding-left: 50px;
	padding-top: 25px;
}

/* pillars */

#pillars-large-background-image {
	position: absolute;
	max-width: 500px;
    z-index: -1;
}
#pillars-large-forground-text {
	max-width: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
}
